/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: 'Poppins', sans-serif;
}

/* HERO con tu imagen */
.hero {
    height: 100vh;
    background-image: url('grecia.jpg'); /* TU IMAGEN */
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Oscurecer fondo */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* RECUADRO estilo tarjeta */
.card {
    position: relative;
    z-index: 1;

    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;

    text-align: center;
    max-width: 400px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Texto */
.subtitle {
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: #8c6b3f;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin: 15px 0;
}

.divider {
    width: 60px;
    height: 2px;
    background: #8c6b3f;
    margin: 15px auto;
}

.description {
    font-size: 0.95rem;
    margin-bottom: 25px;
    color: #333;
}

/* Botón */
button {
    background-color: #8c6b3f;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #5e4728;
}