:root {
    --one: #1a0a2a;/*morado oscuro */
    --two: #510793;/*morado intermedio*/
    --three: #d200d2;/*rosa brillante*/
    --four: #ffffff;/*blanco*/
    --five: #333333;/*gris oscuro*/
}

.LVSBH{
    color:white;
    font: size 3rem;
    margin-top:10px;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(to bottom, #ffffff, #f0e6ff);
    overflow-x:hidden;
}

/* =====================
   NAVBAR
===================== */

.navbar{
    position:fixed;
    width:90%;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    border-radius:20px;
    background:var(--one);
    backdrop-filter:blur(5px);
    z-index:999;
    transition:all .3s ease;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
    font-weight:700;
    font-size:.9rem;
}

.logo img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

/* =====================
   MENÚ
===================== */

.nav-links{
    display:flex;
    align-items:center;
    list-style:none;
    gap:10px;
}

.nav-links li{
    position:relative;
}

.nav-links a{
    color:var(--four);
    text-decoration:none;
    padding:15px;
    font-weight:500;
    display:block;
    white-space:nowrap;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--four);
}

/* =====================
   DROPDOWN
===================== */

.dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    background:var(--one);
    list-style:none;
    padding:10px 0;
    min-width:220px;
    border-radius:12px;
    opacity:0;
    visibility:hidden;
    transition:.3s;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

.dropdown:hover .dropdown-menu{
    opacity:1;
    visibility:visible;
}

.dropdown-menu a{
    padding:10px 20px;
    font-size:.9rem;
}

.dropdown-menu a:hover{
    background:var(--two);
}

/* =====================
   HERO
===================== */

.hero{
    height:100vh;
    background:url('ITCA.png') no-repeat center center/cover;
    display:flex;
    align-items:center;
    padding-left:10%;
    position:relative;
    overflow: hidden;
}

/*degradado de fondo de la imagen*/
.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        to right,
        var(--one),
        rgba(0,0,0,.35)
    );
    z-index: 0;
}

.hero-content{
    
    position:relative;
    z-index:2;
    color:white;
    max-width:50%;
}

.hero-content h1{
    font-size:4rem;
    margin-bottom:15px;
    text-shadow: 0 5px 15px rgba(198, 0, 198, 0.62);
}

.hero-content p{
    font-size:1.1rem;
    line-height:1.8;
}

/* =====================
   ESTADÍSTICAS
===================== */

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:0 10%;
    margin-top:-50px;
    position:relative;
    z-index:10;
}

.card{
    background:linear-gradient(135deg, var(--one), var(--two));
    backdrop-filter:blur(10px);
    padding:25px;
    border-radius:16px;
    color:var(--four);
    text-align:center;
    border: 1px solid rgba(255,255,255,0.1);
    transition: 0.3s ease;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow: 0 0 20px var(--three);
}

/* =====================
   CONTENEDOR DINÁMICO
===================== */

#contenedor-dinamico{
    width:100%;
    min-height:500px;
    padding:80px 10%;
    background:white;
    line-height:1.7;
    opacity:1;
    transition:opacity .3s ease;
    text-align:center;
}


/* =====================
   ABOUT SECTION
===================== */

.about-section{
    width:100%;
}

.about-container{/*dividir en 3 columnas*/
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:40px;
    align-items:center;
}

.about-tag{
    display:inline-block;
    background:linear-gradient(var(--one),var(--two));
    color:var(--four);
    padding:8px 18px;
    border-radius:20px;
    font-size:.8rem;
    font-weight:600;
    margin-bottom:20px;
}

.about-left h2{
    font-size:2.8rem;
    margin-bottom:20px;
}

.purple-text{
    color:var(--three);
}

.about-left p{
    margin-bottom:15px;
    color:#555;
}

.about-right{

    display:flex;
    flex-direction:column;
    gap:20px;
}

.about-right img{
    width:100%;
    max-width: 100%;
    border-radius:20px;
    transition:.5s;
    height: auto;
    object-fit: cover;
}


/* =====================
   INFO ITEMS
===================== */

.info-item{
    color: var(--three);
    display:flex;
    gap:15px;
    align-items:flex-start;
}

.info-icon{
    
    width:55px;
    height:55px;
    border-radius:50%;
    background:var(--two);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
}

.info-text h3{
    margin-bottom:5px;
}

.info-text p{
    color:#666;
}

/* =====================
   BOTÓN
===================== */

.btn-more{
    background:linear-gradient(
        135deg,
        var(--one),
        var(--three)
    );
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:15px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.03);
}

.btn-more:hover{
    transform:translateY(-3px);
    box-shadow:0 5px 15px rgba(0,0,0,0.03);
    border: 3px solid var(--three);
}

/* =====================
   IMAGE CARD
===================== */

.image-card{
    width:100%;
    max-width:400px;
    height:500px;
    overflow:hidden;
    border-radius:25px;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.image-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.image-card:hover img{
    transform:scale(1.08);
}

/* =====================
   FOOTER
===================== */

footer{
    background:var(--one);
    color:white;
    text-align:center;
    padding:70px 20px;
}

footer h2{
    color:white;
}

/* =====================
   RESPONSIVE
===================== */

@media(max-width:1100px){

    .navbar{
        width:98%;
        padding:10px 15px;
        flex-wrap:wrap;
    }

    .nav-links{
        gap:5px;
        font-size:.8rem;
    }

    .nav-links a{
        padding:5px 8px;
    }

    .stats{
        gap:10px;
        padding:0 5%;
    }
}

@media(max-width:992px){

    .about-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .info-item{
        flex-direction:column;
        align-items:center;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:850px){

    .logo span{
        display:none;
    }
}

@media(max-width:600px){

    .stats{
        grid-template-columns:1fr;
    }

    .hero-content h1{
        font-size:2.5rem;
    }
}

.hero-content{
    animation: fadeUp 1s ease;
    z-index: 2;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

h1{
    font-size:3rem;
    margin-bottom:20px;
}

h2{
    font-size:2rem;
    margin-bottom:15px;
}


h1,
h2,
h3{
    text-align:center;
}

.galeria-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.galeria-grid img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.galeria-grid img:hover{
    transform:scale(1.05);

}

section{
    margin-bottom:60px;
}

#topBtn{
    position:fixed;
    right:20px;
    bottom:20px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:linear-gradient(var(--three),var(--two));
    color:white;
    font-size:20px;
    cursor:pointer;
    z-index:1000;
}

.about-container{
    justify-items:center;
}


.about-center{
    text-align:center;
    width:100%;
}

#contenedor-dinamico p{
    text-align:center;
    color: var(--five);
    line-height:1.9;
    max-width:1000px;
    margin:auto;
}

#contenedor-dinamico li{
    margin-left:25px;
    margin-bottom:8px;
}

.valores-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
}

.valor-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    border: 2px solid transparent;
    transition:.3s;
}

.valor-card:hover{
    transform:translateY(-5px);
    border-color:var(--three);
    box-shadow:0 0 15px rgba(210,0,210,0.3);
}

/* =====================
   HERO IMAGE (La Pantera)
===================== */
.hero-img-floating {
    position: absolute;
    bottom: 0;
    right: -50%;               /* Pegada totalmente a la derecha */
    width: 70%;             /* Tamaño grande */
    max-width: 800px;
    height: auto;
    z-index: 1;             /* Detrás del contenido (z-index 2) */
    pointer-events: none;
    
    /* Efecto de "Brillo Blanco" */
    mix-blend-mode: normal; 
        
    
    /* Filtro: quitamos sepia y hue-rotate para que mantenga el color original (blanco) */
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
}

/* Ajustes Responsive */
@media(max-width: 992px) {
    .hero-img-floating {
        width: 55%;
        
    }
}

@media(max-width: 600px) {
    .hero-img-floating {
        display: none;      /* Ocultar en móviles para que no tape el texto */
    }
}